#inicioHist{
    padding-top:10vw;
    display:flex;
    flex-direction: column;
    gap:1vw;
}

.inicioHist-text{
    font-size:1.5vw;
    color:var(--text-color);
    font-family:"barlow", sans-serif;
    padding:0vw 16vw;
    text-align:center;
    font-weight:500;
}

#cardsInicioHist{
    margin-top:5vw;
    display:flex;
    flex-direction: column;
    gap:3vw;
}

.card1{
    height:35vw;
    width:85%;
    background-image: url(../img/historia/inicio1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.card2{
    height:35vw;
    width:85%;
    background-image: url(../img/historia/inicio2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.card3{
    height:35vw;
    width:85%;
    background-image: url(../img/historia/inicio3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.cardR{
    display:flex;
    flex-direction: row;
}

.cardL{
    display:flex;
    flex-direction: row-reverse;
}

.card-aberto{
    align-items: center;
    justify-content:space-between;
    height:100%;
}

.cardL .card-aberto{
    background-image: linear-gradient(-90deg,var(--mobile-bg-color) 10%, transparent);
    padding:0vw 3vw 0vw 1vw;
}

.cardR .card-aberto{
    background-image: linear-gradient(90deg,var(--mobile-bg-color) 10%, transparent);
    padding:0vw 1vw 0vw 3vw;
}

.card-conjunto{
    display:flex;
    gap:1vw;
    flex-direction: column;
    width:35vw;
}

.cardL .card-titulo{
    font-family:"bungee", arial black, sans-serif;
    font-size:1.9vw;
    color:#fff;
    text-align:right;
}

.cardR .card-titulo{
    font-family:"bungee", arial black, sans-serif;
    font-size:1.9vw;
    color:#fff;
    text-align:left;
}

.card-text{
    font-size:1.3vw;
    color:#fff;
    font-family:"barlow", sans-serif;
    text-align: justify;
    text-indent: 1vw;
}

.inicioHist-seta{
    color:#fff;
    font-size:2vw;
    cursor: pointer;
}

.card-fechado{
    display:flex;
    align-items:center;
    padding-left:0.5vw;
    width:3vw;
    height:100%;
    cursor: pointer;
}
.card-fechadoR{
    flex-direction: row-reverse;
    height:100%;
}
.card-fechadoL{
    flex-direction: row;
    height:100%;
}
.card-fechadoL .card-fechado{
    background-image: linear-gradient(90deg,var(--mobile-bg-color), transparent);
}
.card-fechadoR .card-fechado{
    background-image: linear-gradient(-90deg,var(--mobile-bg-color), transparent);
}

.aberto{
    display:flex;
}
.fechado{
    display:none;
}

@media(max-width: 900px){
    #inicioHist{
        padding-top:20vw;
        gap:3vw;
    }
    
    .inicioHist-text{
        font-size:3.5vw;
        padding:0vw 10vw;
    }
    
    #cardsInicioHist{
        margin-top:10vw;
        gap:5vw;
    }
    
    .card1{
        height:55vw;
        width:95%;
    }
    
    .card2{
        height:55vw;
        width:95%;
    }
    
    .card3{
        height:55vw;
        width:95%;
    }
    
    .cardL .card-aberto{
        background-image: linear-gradient(-90deg,var(--mobile-bg-color) 10%, transparent);
        padding:0vw 3vw 0vw 1vw;
    }
    
    .cardR .card-aberto{
        background-image: linear-gradient(90deg,var(--mobile-bg-color) 10%, transparent);
        padding:0vw 1vw 0vw 3vw;
    }
    
    .card-conjunto{
        display:flex;
        gap:1vw;
        flex-direction: column;
        width:60vw;
    }
    
    .cardL .card-titulo{
        font-size:3.5vw;
    }
    
    .cardR .card-titulo{
        font-size:3.5vw;
    }
    
    .card-text{
        font-size:2.5vw;
    }
    
    .inicioHist-seta{
        font-size:4vw;
    }
    
    .card-fechado{
        padding-left:1vw;
        width:6vw;
    }
}