@media(max-width: 900px){
    /* ------------- HEADER MOBILE -------------- */
    .header{
        background-color: var(--secundary-bg-color);
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:1vw 3vw 1vw 3vw;
        margin:1vw;
        position:fixed;
        width:92%;
        box-shadow:0.2vw 0.2vw 7px 2px #000;
        z-index:10;
    }

    #header-logo{
        width:8vw;
        height:8vw;
    }

    #navbar-mobile, #navbar-mobile2{
        display:flex;
        cursor:pointer;
        color:var(--link-color);
        font-size:5vw;
        transition:ease-in-out 0.5s;
    }
    #navbar-mobile2:hover{
        color:var(--secundary-mobile-bg-color);
    }
    #navbar-mobile:hover{
        color:var(--default-color);
    }

    .header-nav ul{
        display:none;
    }

    .header-icons{
        display:none;
    }

    #nav-mobile{
        display:none;
    }
    /* ------------- FIM HEADER MOBILE -------------- */

    /* ------------- HOME MOBILE -------------- */
    #home{
        width:100%;
        height:75vw;
    }

    .home-img{
        width:48vw;
        left:2vw;
    }
    
    .home-logoimg{
        width:55vw;
    }
    
    .home-start{
        top:22vw;
        left:40vw;
    }
    
    .home-text{
        font-size:2.2vw;
        width:55vw;
    }
    
    .home-buttons{
        top:61vw;
        left:50vw;
    }
    
    .home-button1{
        font-size:2.2vw;
        padding:1.5vw;
        width:17vw;
    }
    
    .home-button2{
        font-size:2.2vw;
        padding:1.5vw;
        width:18vw;
    }
    /* ------------- FIM HOME MOBILE -------------- */

    .lines-transitionT{
        height:0.3vw;
        box-shadow:0px -0.5vw 7px 6px var(--primary-bg-color);
    }

    .lines-transitionB{
        height:0.3vw;
        box-shadow:0px -0.5vw 7px 6px var(--primary-bg-color);
    }

    /* ------------- HISTÓRIA MOBILE -------------- */
    #story{
        margin-top:4vw;
        margin-bottom:10vw;
    }

    h1{
        font-size:5vw;
    }
    
    .story-text{
        font-size:3.2vw;
        margin:0vw 10vw 0vw 10vw;
    }
    
    .story-nav{
        flex-direction: column;
        align-items:center;
    }
    
    #story-imagenav{
        width:50vw;
        height:68vw;
        margin-top:5vw;
    }
    
    #story-imagenav2{
        display:none;
        width:50vw;
        height:68vw;
        margin-top:5vw;
    }
    
    #story-imagenav3{
        display:none;
        width:50vw;
        height:68vw;
        margin-top:5vw;
    }
    
    .imgtext{
        font-size:4vw;
        margin-bottom:5vw;
    }

    .story-botoespassar{
        display:flex;
    }
    /* ------------- FIM HISTÓRIA MOBILE -------------- */
    /* ------------- PERSONAGENS -------------- */
    #personagens{
        height:140vw;
    }
    #personagens i{
        font-size:7vw;
    }

    .perso-items{
        margin-top:-3vw;
    }
    #perso-img{
        width:45vw;
        margin-top:1vw;
        border-radius:10rem;
        background-color:var(--default-color);
    }
    #perso-title{
        font-size:6vw;
    }
    #perso-text{
        font-size:3.5vw;
    }
    .perso-descricao{
        width:95%;
        gap:1vw;
    }
    .perso-imgtext{
        gap:4vw;
        flex-direction: column;
        margin-top:4vw;
    }
    /* ------------- FIM PERSONAGENS -------------- */
    /* ------------- GUIA -------------- */
    #guia{
        margin-top:5vw;
    }

    .guia-elements{
        width:40vw;
        height:55vw;
    }
    .guia-items{
        gap:5vw;
        margin-bottom:5vw;
    }
    /* ------------- FIM GUIA -------------- */
    footer{
        font-size:3vw;
        padding:4vw 0vw;
    }
}