@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root, :root[data-theme='dark']{
    --primary-bg-color: #000;
    --secundary-bg-color: #8c000057;

    --mobile-bg-color: #8c0000;
    --secundary-mobile-bg-color: #000;

    --default-color:#8C0000;
    --secundary-default-color:#440000;

    --toggle-color:#000;

    --text-color: #fff;
    --link-color: #BDBDBD;
    --title-color: #8C0000;
}

:root[data-theme='light']{
    --primary-bg-color: #A01010;
    --secundary-bg-color: #00000086;

    --mobile-bg-color: #000;
    --secundary-mobile-bg-color: #8c0000;

    --default-color:#8C0000;
    --secundary-default-color:#490000;

    --toggle-color:#fff;

    --text-color: #000;
    --link-color: #BDBDBD;
    --title-color: #fff;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #640000;
    border-radius:2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #360000;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color:var(--primary-bg-color);
}

a{
    text-decoration: none;
    cursor:pointer;
}

.header{
    background-color: var(--secundary-bg-color);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1vw 3vw 1vw 3vw;
    margin:1vw;
    position:fixed;
    width:92%;
    box-shadow:0.2vw 0.2vw 7px 2px #000;
    z-index:10;
}

.header-link{
    color:var(--link-color);
    text-transform: capitalize;
    font-family:"barlow", sans-serif;
    font-weight:700;
    font-size:1.1vw;
    cursor:pointer;
    transition:ease-in-out 0.5s;
}

.header-icons .header-link{
    font-size:1.25vw;
}

.header-link:hover{
    color:var(--default-color);
}

#header-logo{
    width:3vw;
    height:3vw;
}

.header-icons{
    display:flex;
    gap:3vw;
}

.header-nav{
    display:flex;
    align-items:center;
    gap:5vw;
}

.header-nav ul li{
    list-style:none;
}

.header-nav ul{
    display:flex;
    gap:5vw;
}

#toggletheme{
    color:var(--toggle-color);
    font-weight:800;
    font-size:1.25vw;
    cursor:pointer;
    transition:ease-in-out 0.5s;
}

#toggletheme:hover{
    color:#dde0a9;
}

/*-------------FIM HEADER --------------*/

#home{
    position:relative;
    background-image:url(../img/fundohome.jpg);
    background-size:cover;
    /* background-attachment: fixed; */
    background-position: center;
    width:100%;
    height:45vw;
}

.home-img{
    width:35vw;
    position:absolute;
    left:5vw;
    bottom:0;
    z-index:1;
}

.home-logoimg{
    animation:scale 7s ease-in-out infinite;
    width:50vw;
}

@keyframes scale{
    0%{
        scale:1;
    }

    50%{
        scale:1.05;
    }

    100%{
        scale:1;
    }
}

.home-start{
    position:absolute;
    top:12vw;
    left:42vw;
    text-align:center;
    flex-direction: column;
    display:flex;
    align-items:center;
}

.home-text{
    color:#fff;
    font-size:1.1vw;
    font-family:"barlow", sans-serif;
    width:50vw;
}

.home-buttons{
    display:flex;
    position:absolute;
    top:36vw;
    left:52vw;
    gap:8vw;
}

.home-button1{
    font-size:1.2vw;
    font-family:"barlow", sans-serif;
    padding:1.2vw;
    border-radius:0.5rem;
    background-color: var(--default-color);
    border:none;
    color:#fff;
    width:12vw;
    box-shadow:0.2vw 0.2vw 5px 2px #000;
    cursor:pointer;
    transition:ease-in-out 0.5s;
}

.home-button1:hover{
    background-color:var(--secundary-default-color);
}

.home-button2{
    font-size:1.2vw;
    font-family:"barlow", sans-serif;
    font-weight:500;
    padding:1.2vw;
    border-radius:0.5rem;
    background-color:transparent;
    border:2px solid var(--default-color);
    color:var(--default-color);
    width:12vw;
    box-shadow:0.2vw 0.2vw 5px 2px var(--secundary-bg-color);
    cursor:pointer;
    transition:ease-in-out 0.5s;
}

.home-button2:hover{
    border:2px solid var(--secundary-default-color);;
    color:var(--secundary-default-color);;
}
/* --------- FIM HOME -------------*/

.lines-transition{
    position:relative;
    background-color:var(--primary-bg-color);;
    height:0.5vw;
    border:none;
    box-shadow:0px -0.5vw 12px 10px var(--primary-bg-color);;
    z-index:5;
}

/*--------------- LINHA DE TRANSICAO -------------------*/

h1{
    font-family:"bungee", arial black, sans-serif;
    font-size:2vw;
    color:var(--title-color);
    text-align:center;
}

.story-text{
    color:var(--text-color);
    font-family:"barlow", sans-serif;
    font-size:1.1vw;
    text-align:center;
    margin:0vw 25vw 0vw 25vw;
}

.story-nav{
    display:flex;
    justify-content:space-around;
    margin-top:3vw;
}

.story-imagenav{
    width:20vw;
    height:28vw;
    background-image:url(../img/storyimginicio.png);
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:1rem;
    box-shadow:0.5vw 0.5vw 8px 2px var(--secundary-bg-color);
    display:flex;
    align-items:flex-end;
    transition:ease-in-out 0.5s;
}

.story-imagenav2{
    width:20vw;
    height:28vw;
    background-image:url(../img/storyimgdev.png);
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:1rem;
    box-shadow:0.5vw 0.5vw 8px 2px var(--secundary-bg-color);
    display:flex;
    align-items:flex-end;
    transition:ease-in-out 0.5s;
}

.story-imagenav3{
    width:20vw;
    height:28vw;
    background-image:url(../img/storyimgfim.png);
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:1rem;
    box-shadow:0.5vw 0.5vw 8px 2px var(--secundary-bg-color);
    display:flex;
    align-items:flex-end;
    transition:ease-in-out 0.5s;
}

.story-imgtext{
    color:#fff;
    font-family:"barlow", arial, sans-serif;
    font-weight:800;
    font-size:1.4vw;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1vw;
    transition:ease-in-out 0.5s;
}

.story-imagenav:hover .story-imgtext, .story-imagenav:hover,
.story-imagenav2:hover .story-imgtext, .story-imagenav2:hover,
.story-imagenav3:hover .story-imgtext, .story-imagenav3:hover{
    scale:1.05;
    opacity:70%;
    color:var(--default-color);
}
/* --------- FIM HISTÓRIA -------------*/

/* ------------- NAV MOBILE -------------- */
#nav-mobile{
    background-color:var(--mobile-bg-color);
    display:none;
    flex-direction: column;
    align-items: center;
    position:fixed;
    right:0;
    padding:3vw;
    border-radius:6px;
    z-index:10;
}

.nav-mobile-items{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:3vw;
    margin-bottom:3vw;
}

.nav-mobile-text, .icon-mobile{
    color:var(--link-color);
    cursor:pointer;
    transition: ease-in-out 0.5s;
}

.nav-mobile-items:hover .nav-mobile-text,
.nav-mobile-items:hover .icon-mobile,
.nav-mobile-text:hover,
.icon-mobile:hover{
    color:var(--secundary-mobile-bg-color);
}

.nav-mobile-text{
    font-family:"barlow", sans-serif;
    font-weight: 600;
    font-size:2.25vw;
}

.icon-mobile{
    font-size:4vw;
    margin-top:3vw;
}

.nav-mobile-redes{
    display:flex;
    gap:3vw;
    margin-top:5vw;
}

.nav-mobile-link{
    color:#868686;
    transition: ease-in-out 0.5s;
}

.nav-mobile-link:hover{
    color:#420000;
}

#toggletheme-mobile{
    color:var(--toggle-color);
    margin-top:4vw;
    font-size:4vw;
    cursor:pointer;
    transition:ease-in-out 0.5s;
}

#toggletheme-mobile:hover{
    color:#dde0a9;
}

#navbar-mobile{
    display:none;
}
/* ------------- FIM NAV MOBILE -------------- */